.product-content-container {
    max-width: 1200px !important;
    margin-left: auto ;
    margin-right: auto;
}
.announcement-bar__message.h5{
   color: #FFFFFF;
}
/* navbar */
.alireviews-review-box {
    margin-top:0 !important;
}
.custom-header__inline-menu .list-menu--inline .header__menu-item{
/* font-weight: 400; */
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;
padding:1.1rem 2.4rem;
}
.custom-header__inline-menu .list-menu--inline li:first-child{
    border-radius: 22px;
    background: #522A97;
}
.custom-header__inline-menu .list-menu--inline li:first-child a{
    color: #FFFFFF;
}
/* product page  */
.product__info-container>*+* {
    margin: 20px 0 0 !important;
}
.product__info-container.product__column-sticky variant-radios{
    margin-top: 31px !important;
}
.custom-product__title {
    margin-top: 0 !important;
    margin-bottom: 0.9rem !important;
}

.custom-product__title h1 {
    font-size: 32px;
    line-height: 118%;
    letter-spacing: 0%;
    margin-bottom: 0 !important;
}

.product__info-container .custom-product__description {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0%;
    margin-top: 9px !important;
    margin-bottom: 0 !important;
}

.price-item.price-item--sale.price-item--last {
    font-weight: 700;
    font-size: 16px !important;
    line-height: 168% !important;
    letter-spacing: 0% !important;
    margin-right: 2rem;
}

.price-item.price-item--regular {
    font-size: 16px;
    line-height: 168%;
    letter-spacing: 0%;
}

.price.price--large.price--show-badge {
    border-bottom: 1px solid #E5E5E5;
    margin-top: 20px !important;

}

.badge.price__badge-sale {
    font-size: 10px;
    line-height: 168%;
    letter-spacing: 0%;
    padding: 2px 6px;
    border-radius: 4px;
}
.product-custom-upload label{
font-weight: 600;
font-size: 14px;
line-height: 168%;
letter-spacing: 0%;
color: #333333;

}
.product-custom-upload {
  width: 100%;
  margin: 15px 0;
}

.product-custom-upload__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product-custom-upload__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  color: #333;
}

.product-custom-upload__guide {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #333;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.product-custom-upload__guide-icon {
  font-size: 18px;
}

#custom-image-upload {
  display: none;
}

.product-custom-upload__button {
  width: 100%;
  height: 53px;
  background: #e5e5e5;
  border-radius: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 20px;
  font-weight: 600;
  color: #333;

  cursor: pointer;
  box-sizing: border-box;
  transition: background 0.2s ease;
}

.product-custom-upload__button:hover {
  background: #dcdcdc;
}

.product-custom-upload__button svg {
  flex-shrink: 0;
}
/* variant css  */
.custom-form__label {
    font-weight: 600;
    font-size: 14px;
    line-height: 168%;
    letter-spacing: 0%;
}

/* variant picker styling  */
.product-form__input input[type='radio']+label {
    border: 1px solid #E5E5E5 !important;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0%;
}

.product-form__input .format-rounded-label {
    border-radius: 19px !important;
    border: 1px solid #E5E5E5 !important;
    padding: 10px 26px !important;
}

.product-form__input .color-circle-label {
    width: 34px !important;
    height: 34px !important;
    outline: 1px solid #E5E5E5 !important;
    outline-offset: 3px !important;
    border-radius: 50% !important;
    padding: 1rem 1.2rem !important;
}

.product-form__input .number-square-label {
    padding: 1rem 1.2rem !important;
}

.product-form__input input[type='radio']:checked+label {
    background-color: transparent !important;
    color: rgb(var(--color-foreground)) !important;
    border: 1px solid #FF97AB !important;
}

.js.product-form__input {
    margin-bottom: 2rem !important;
}

.background-styles-container {
    display: flex;
    gap: 16px;
}

.background-styles-container input {}

.background-style-item button {
    all: unset;
    height: 66px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    outline: 1px solid #E5E5E5;
    outline-offset: 3px;
}

.background-style-item .bg-btn-outline {
    outline: 1px solid #FF97AB;
}

.background-style-item img {
    display: block;
    width: 100%;
    height: 100%;
}

.add-on-product-wrapper {
    display: flex;
    align-items: center;
    gap: 19px;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    padding: 10px 0px 10px 22px;
    margin-top: 3.3rem !important;
}

.add-on-product-wrapper img {
    border-radius: 4px;
}

.add-on-product-wrapper input {
    appearance: none;
    -webkit-appearance: none;
    width: 24px !important;
    height: 24px !important;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #E5E5E5;
}

.add-on-product-wrapper input:checked {
    background-color: #333333;
    border-color: #FF97AB;
}

.add-on-product-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-on-product-content h3 {
    font-weight: 700;
    font-size: 12px;
    line-height: 118%;
    letter-spacing: 0%;
    color: #333333;
    margin: 0;
}

.add-on-product-content p {
    font-weight: 400;
    font-size: 10px;
    line-height: 118%;
    letter-spacing: 0%;
    color: #3A3A3AB2;
    margin: 0;
}

.add-on-price-container span {
    font-weight: 700;
    font-size: 12px;
    line-height: 168%;
    letter-spacing: 0%;
}

.add-on-price-container span:first-child {
    text-decoration: line-through;
    font-weight: 400;
}

.free-shipping-card {
    display: flex;
    justify-content: center;
    padding: 8px 0;
    align-items: center;
    width: 100%;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    gap: 8px;
    margin-top: 1rem !important;
}

.free-shipping-card p {
    margin: 0;
    color: rgba(var(--color-foreground), 1);

}

.product-form__input.size-inputs-fielset input[type='radio']:disabled+label,
.product-form__input input[type='radio'].disabled+label {
    background: #E5E5E5;
    color: #00000080;
    text-decoration: none !important;
}

.product-custom-field label {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0%;
}

.product-custom-field textarea {
    width: 100%;
    min-height: 92px;
    border-radius: 8px;
    resize: none;
}

/* Add to cart button  */
.form .product-form__buttons {
    max-width: 100%;
}

.add-to-cart-button {
    border-radius: 35px !important;;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.add-to-cart-button:after {
    box-shadow: none  !important;
    border-radius: 35px !important;
}

.product__info-container .product-form {
    margin: 0 !important;
    margin-top: 22px !important;
}

.add-to-cart-button:not([disabled]):hover::after {}


/* product media information badges  */
.product-media-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 38px;
}

.product-detail-badge-card {
    display: flex;
    align-items: center;
    gap: 9px;
}

.product-detail-badge-card p {
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
}

/* product page hero  */
.image-text-hero {
    background-repeat: no-repeat;
    background-size: cover;
}

.image-text-hero-wrapper {
    display: flex;
    align-items: center;
    min-height: 266px;
}

.image-text--image {
    max-width: 243px;
    align-self: flex-end;
}

.image-text--image img {
    width: 100%;
    display: block;
    height: auto;
}

.image-text--text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-text--text-wrapper h2 {
    font-size: clamp(20px, 3vw, 30px);
    letter-spacing: 0;
    margin: 0;
    color: rgb(var(--gradient-base-background-1)) !important;
}

.image-text--text-wrapper h3 {
    font-size: clamp(14px, 3vw, 18px);
    letter-spacing: 0;
    margin: 0;
}

@media (max-width:750px) {
    .image-text-hero-wrapper {
        flex-direction: column-reverse;
        gap: 10px;
        padding-top: 20px;
    }

    .image-text--image {
        align-self: auto;
        min-width: 150px;
    }
}

/* our support section */
.our-support-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}